# Gradle

build/
!gaiden-core/src/test/resources/test-project/build/
.gradle/

# IntelliJ

*.iml
*.ipr
*.iws
.idea/*
!.idea/copyright/
!.idea/inspectionProfiles/
out/

# Eclipse

.project
.metadata
bin/
.classpath
.settings/
