# Gradle

/build/
/gaiden-core/build/
/gaiden-wrapper/build/
/doc/build/
.gradle/

# IntelliJ

*.iml
*.ipr
*.iws
.idea/*
!.idea/copyright/
!.idea/inspectionProfiles/
out/

# Eclipse

.project
.metadata
bin/
.classpath
.settings/
