<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-5level %logger{20} %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.springframework" level="OFF"/>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>