<html>
<head>
    <meta charset="UTF-8">
    <title>$title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="${link('/css/bootstrap.css')}">
    <link rel="stylesheet" href="${link('/css/prettify.css')}">
    <link rel="stylesheet" href="${link('/css/style.css')}">
</head>
<body>
    <div class="navbar navbar-static-top">
        <div class="container">
            <a class="navbar-brand" href="$tocLink">$title</a>
            <a class="toc btn btn-primary btn-lg" href="$tocLink"><span class="glyphicon glyphicon-list"></span></a>
        </div>
    </div>
    <div class="container">
        <section class="page-content">
            $content
        </section>
    </div>
    <footer id="footer" class="footer">
        <div class="container">
            <p class="credit text-muted">Powered by <a href="#">Gaiden</a>.</p>
        </div>
    </footer>

    <script src="${link('/js/jquery-1.10.2.min.js')}"></script>
    <script src="${link('/js/bootstrap.js')}"></script>
    <script src="${link('/js/prettify.js')}"></script>
</body>
</html>
